header{
    background-color:#FEF5ED;
    text-align: center;
    font-size: 30px;
}
nav{
    background-color:#D3E4CD;
}
section{
    background-color:#ADC2A9;
    grid-column: 1/7;
}
aside{
    background-color:#99A799;
    grid-column: 7;
}
footer{
    background-color:#506D84;
    text-align: center;
}
main{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 4fr 5fr 6fr 7fr;
}
article{
    font-size: 20px;
}
h2{
    text-align: center;
    text-transform: uppercase;
}
p{
    text-align:center;
}